.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #03244D;
    border: 5px solid #E87722;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    color: white
  }
  
  /* You can also add a background to give a faded effect behind your modal */
  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  
  .close {
    color: red;
    font-size: 38px; /* adjust as necessary */
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }
  