.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #03244D; /* Auburn Blue */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #E87722; /* Auburn Orange */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional Styles */

/* Header */
header {
  background-color: #f5f5f5;
  padding: 10px;
}

.banner {
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 10px;
}

/* Content */
.content {
  display: flex;
  flex-direction: column; /* changed from row to column for better mobile view */
  margin: 20px;
}

.left-column,
.right-column {
  margin-bottom: 20px; /* added margin-bottom for better mobile view */
}

@media (min-width: 768px) {
  .content {
    flex-direction: row; /* revert to row on larger screens */
  }

  .left-column {
    flex-basis: 60%;
    margin-right: 20px;
  }

  .right-column {
    flex-basis: 40%;
    margin-bottom: 0; /* remove margin-bottom on larger screens */
  }
}

/* Blog News Box */
.blog-news-box {
  background-color: #f9f9f9;
  padding: 20px;
}

.blog-entry {
  margin-bottom: 20px;
}

/* Class Detail Links */
.class-detail-links {
  background-color: #f9f9f9;
  padding: 20px;
}

.class-detail-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.class-detail-links li {
  margin-bottom: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
