body {
  font-family: Arial, sans-serif;
  color: #333;
}

.class-list-container {
  background-color: #e5e5e6;
  padding: 20px;
  color: rgb(0, 0, 0);
}

.class-list-container ul li {
  list-style-type: none;
}

.class-reviews {
  margin-bottom: 0px !important; 
}

.core-classes-title {
  text-align: center;
  margin-top: 1px;  
}

.class-items-container {
  display: flex;
  flex-wrap: wrap; 
}


.class-item {
  background-color: #e5e5e6;
  padding: 10px;
  margin-bottom: 10px;
  border: 5px solid #03244D;
  flex: 0 0 50%; 
  box-sizing: border-box; 
}

.class-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-container {
  display: flex;
  gap: 10px;
}

.gradeA {
  color: #009c22;
}

.gradeB {
  color: #6aac01;
}

.gradeC {
  color: #f57804;
}

.gradeD {
  color: #a10404;
}

.gradeF {
  color: #ff0000;
}

.no-data {
  color: #999999;
}

.gradeA, .gradeB, .gradeC, .gradeD, .gradeF, .easy, .moderate, .hard, .manageable, .challenging, .no-data {
  font-size: 1.0em;
  text-align: left;
  font-weight: bold;
}

.stats {
  color: #03244D;
  font-size: 1.0em;
  font-weight: bold;
}

.class-stats {
  display: flex;
  align-items: center;
  width: 100%;
}

.class-stats > span {
  background-color: #e5e5e6;
  padding: 5px;
  width: 100%; /* This will make the text take up the full width of the box */
  white-space: pre-wrap; /* This will allow text to wrap on small screens */
}

@media (min-width: 768px) {
  .class-stats {
    display: grid;
    grid-template-columns: 550px auto auto;
  }

  .class-stats > span, .class-stats > div {
    text-align: left; /* Align text to the left on larger screens */
    white-space: nowrap; /* This will prevent text from wrapping on larger screens */
  }
}

.quality-label, .difficulty-label {
  color: #03244D; /* Auburn Blue */
  font-size: 1.0em;
  font-weight: bold;
}

.class-1-1, .class-1-2, .class-2-1 {
  color: #009E73;
  font-weight: bold;
}

.class-1-3, .class-1-4, .class-2-2, .class-2-3, .class-3-1, .class-3-2 {
  color: #E69F00;
  font-weight: bold;
}

.class-1-5, .class-2-4, .class-2-5, .class-3-3, .class-3-4, .class-4-1, .class-4-2, .class-5-1 {
  color: #0072B2;
  font-weight: bold;
}

.class-2-5, .class-3-5, .class-4-3, .class-4-4, .class-5-2, .class-5-3 {
  color: #D55E00;
  font-weight: bold;
}

.class-4-5, .class-5-4, .class-5-5 {
  color: #CC79A7;
  font-weight: bold;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.review-note {
  order: 2; /* The paragraph will be the last element in the container by default */
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.breakdown-note {
  order: 2; /* The paragraph will be the last element in the container by default */
  background-color: red;
  color: white;
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.review-note:hover {
  background-color: white;
  color: red;
}

@media (max-width: 768px) {
  .review-note {
    order: 1; /* The paragraph will be the first element in the container on small screens */
    font-size: 0.8em;
    text-align: center;
  }
}
