.header-top {
  background-color: #03244D; 
  padding: 15px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px solid #E87722;
}

.header-top ul {
  list-style-type: none;
  display: flex;
  flex-direction: row; /* Make items display in a row */
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%;
}

.header-top a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.header-bottom {
  display: flex;
  justify-content: left; /* Align buttons to the left and right */
  align-items: center;
}

.header-bottom button,
.header-bottom a {
  margin: 10px 5px;
  color: #03244D; /* Auburn Blue */
  text-decoration: none;
  background-color: #E87722; /* Auburn Orange */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.header-bottom button:hover,
.header-bottom a:hover {
  color: white;
  background-color: #03244D; /* Auburn Blue on hover */
  border: 1px solid #E87722;
}

.welcome-section {
  display: flex;
  align-items: center;
}

.user-management-button {
  margin-left: 10px;
  color: #03244D; /* Auburn Blue */
  text-decoration: none;
  background-color: #E87722; /* Auburn Orange */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  margin-right: 10px; /* Add margin to the right to create space between the buttons */
}

.logout-section {
  display: flex;
  align-items: center;
}

.logout-button {
  margin-left: auto; /* Push the button to the right */
  color: #03244D; /* Auburn Blue */
  text-decoration: none;
  background-color: #E87722; /* Auburn Orange */
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.admin-label {
  background-color: red;
  color: white;
  padding: 10px 0;
  margin-top: 5px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.error-message {
  color: red;
}

@media (max-width: 768px) {
  .header-top a {
    padding: 10px 0; /* Add more vertical padding on small screens */
  }
  
  .header-bottom button,
  .header-bottom a {
    padding: 10px;
    margin: 5px 0; /* Adjust margin on small screens */
  }
}