.header-top {
    background-color: black;
    padding: 10px;
  }
  
  .header-top ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .header-top a {
    color: white;
    text-decoration: none;
  }
  
  .header-bottom button,
  .header-bottom a {
    margin-right: 10px;
    color: black;
    text-decoration: none;
    background-color: #f0f0f0;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
  
  .login-popup {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 9999;
  }
  
  .login-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250, 0, 0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  /* Add any additional styling for the login form elements */
  .login-popup-content form {
    /* Your styling here */
  }
  
  /* Show the popup when the modal is open */
  .login-popup.open {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .error-message {
    color: red;
  }