.vote-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.vote-modal-content {
    background-color: #03244D;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #E87722;
    width: 80%;
    color: white;
}

.vote-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.vote-modal-close:hover,
.vote-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
